<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxl.module" >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name="com.xxl.module.media.MediaActivity"/>
    </application>
</manifest>
